services:
  - type: worker
    name: spotted-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: SLACK_BOT_TOKEN
        sync: false
      - key: SLACK_APP_TOKEN
        sync: false
      - key: SPOTTED_CHANNEL_ID
        sync: false
      - key: PORT
        value: 5000

